#drop-down{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: 500;
}
#drop-down-input{

    outline: none;
    background-color: transparent;
    font-size: 1em;
    padding: 0.3em;
    font-weight: 400;
}